@font-face {
  font-family: "iconfont"; /* Project id 3851250 */
  src: url('iconfont.woff2?t=1676375996395') format('woff2'),
       url('iconfont.woff?t=1676375996395') format('woff'),
       url('iconfont.ttf?t=1676375996395') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-mine:before {
  content: "\e601";
}

.icon-navlist:before {
  content: "\e6fa";
}

.icon-back:before {
  content: "\e662";
}

.icon-list1152921easyiconnet:before {
  content: "\e636";
}

.icon-food:before {
  content: "\e750";
}

.icon-delete_light:before {
  content: "\e7ed";
}

.icon-record:before {
  content: "\e605";
}

.icon-food1:before {
  content: "\e632";
}

.icon-list:before {
  content: "\e61f";
}

.icon-Weight:before {
  content: "\e8c1";
}

.icon-save:before {
  content: "\e62f";
}

.icon-homepage:before {
  content: "\e702";
}

.icon-record1:before {
  content: "\e660";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-record2:before {
  content: "\e6c3";
}

.icon-weight:before {
  content: "\e737";
}

.icon-add1:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e661";
}

.icon-zhongyingwen:before {
  content: "\e630";
}

.icon-zhongyingwen2zhongwen:before {
  content: "\e645";
}

.icon-zuzhijiagoujiekou:before {
  content: "\e89a";
}

.icon-shebeikaifa:before {
  content: "\ecac";
}

.icon-bushu:before {
  content: "\e628";
}

.icon-zuzhijigou:before {
  content: "\e64e";
}

.icon-icdegree:before {
  content: "\e61e";
}

.icon-email:before {
  content: "\e622";
}

.icon-gongsidizhi:before {
  content: "\e60b";
}

.icon-google-translate:before {
  content: "\e78d";
}

.icon-xueshimao:before {
  content: "\e663";
}

.icon-Google:before {
  content: "\e616";
}

.icon-GitHub:before {
  content: "\ea09";
}

.icon-gerenjianli:before {
  content: "\e60e";
}

.icon-github:before {
  content: "\e61d";
}

.icon-email1:before {
  content: "\e610";
}

.icon-github1:before {
  content: "\e6f6";
}

.icon-gongsi:before {
  content: "\e769";
}

.icon-email2:before {
  content: "\e603";
}

.icon-googlescholar:before {
  content: "\ebae";
}

.icon-github2:before {
  content: "\e728";
}

.icon-shuyi_jianli:before {
  content: "\e65e";
}

.icon-Google-Maps:before {
  content: "\e87b";
}

.icon-news:before {
  content: "\ed50";
}

